[submodule "Getting-Started-with-Kria"]
	path = Getting-Started-with-Kria
	url = https://github.com/stevenhernandezz/Getting-Started-with-Kria
[submodule "FreeRTOS-Kria-"]
	path = FreeRTOS-Kria-
	url = https://github.com/stevenhernandezz/FreeRTOS-Kria-
